@mixin display-flex-space-between() {
    display: flex;
    justify-content: space-between;
}

@mixin textstyle($font-size: 11px, $line-height: 13px, $font-weight: 400, $font-style: normal) {
font-size: $font-size;
font-style: $font-style;
font-weight: $font-weight;
line-height: $line-height;
}

@mixin tablet {
    @media (max-width: $max-tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $max-mobile-width) {
        @content;
    }
}