
body{
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
:root {
    --dark-blue:#222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
    --white: #FBFBFB;
    --brown: #6F6E6E;
    --cardbcgcolor: #F8F8F8;
    
}

.header {
    background-color: var(--dark-blue);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}
.header__logo {
margin: 18px 41px 20px 0;
}

.header__loup {
    margin: 28px 0 19px 0;
}

.header__navigation {
    display: none;
}

.header-controls {
    display: flex;
    position: relative;
}

.header__button {
    background-color: transparent;
    fill: white;
    border: none;
    margin: 0 34px 0 0;
}

.header__button:hover .icon {
    fill: violet;
}

.header__button:focus .icon {
    fill: violet;
}

.header__button:hover+.header__navigation {
    display: block;
    position: absolute;
    width: 232px;
    height: 764px;
    right: -237px;
    top: 52px;
    background:var(--white);
    border: 1px solid blue;
}

.header__button:focus+.header__navigation {
    display: block;
    position: absolute;
    width: 232px;
    height: 764px;
    right: -237px;
    top: 54px;
    background:var(--white);
    border: 1px solid blue;
}

.krest {
    padding: 16px 0 0 203px;
}

.menunav {
    padding: 37px 143px 24px 34px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
}

.header__navigation--titlearea{
    padding: 9px 143px 24px 34px;
}

.header__navigation--wktitlearea {
    padding: 20px 0 11px 33px;  
}

.header__navigation--title {
    
    color: var(--dark-pink);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    text-decoration: none;
}

.header__navigation--item {
    color: var(--brown);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    text-decoration: none;
}

.header__navigation--manarea,
.header__navigation--womanarea,
.header__navigation--kidsarea {
    padding: 7px 0px 0px 55px;
}

.header__person-link{
    margin: 0 34px 0 0;
}
.brand {
    display: flex;
    margin: 0 0 65px 0;
    background-color: var(--pink);
    
}

.brand__title {
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 58px;
text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    background-color: var(--pink);
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.decor1 {
 padding: 0 16px 0 0;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background-color:var(--brown);
    margin: 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offers__item--discount {

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
}

.offers__item--sex {
    color: var(--dark-pink);
    text-transform: uppercase;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}


.offers__item--fon1 {
    background-image: url(img/fon1.jpg);
}

.offers__item--fon2 {
    background-image: url(img/fon2.jpg);
}

.offers__item--fon3 {
    background-image: url(img/fon3.jpg);
}

.offers__item--fon4{
    background-image: url(img/fon4.jpg);
    width: 100%;
    flex-grow: 1;
}



.cart-wrapper-overlay {
    position: relative;
}

.fetured__item--button {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

.fetured__item--button {
    display: none;
    border: 1px solid var(--white);
    background-color: transparent;
}

.cartinfo {
    display: flex;
}

.basket {
    padding: 0 0 0 13px;
}

.addcart {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
color: var(--white);
padding: 13px 13px 13px 12px;
}

.cart-wrapper-overlay:before {
    content: '';
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
}

.cart-wrapper-overlay:before {
    display: none;
}

.fetured__item:hover .cart-wrapper-overlay:before {
    display: block;
}

.fetured__item:hover .fetured__item--button {
    display: block;
}

.fetured__header {
    margin: 96px 0 0 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.fetured__title {
    margin: 0 0 47px 0;
    font-family: Lato;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: var(--brown);
}



.fetured__table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fetured__item {
    margin: 0 30px 30px 0;
    width: 360px;
    min-height: 581px;
    background-color: var(--cardbcgcolor);
}

.fetured__item--title{
    margin: 25px 0 12px 0;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;  
}

.fetured__item--info {
    margin: 12px 28px 16px 17px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.fetured__item--price {
color: var(--dark-pink);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
padding: 0 0 0 18px;
}

.fetured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetured__btn { 
margin: 63px 0 109px 0;
}

.browse {
    color: var(--dark-pink);
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    background-color: var(--dark-pink);
}

.browse__txt {
color: var(--white);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
}



.privileges {
    background-color: var(--dark-blue);
}
.privileges__table {
    display: flex;
    justify-content: space-between;
}

.privileges__item {
    width: 360px;
    margin: 103px 30px 104px 0;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.privileges__title {
    margin: 26px 0 16px;
color: var(--white);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.privileges__info {
color: var(--white);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
}

.footer--contacts {
    background-image: url(img/fonefooter.jpg);
    background-repeat: round;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 97px 0 126px 0;
}


.content__contface, .content__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__info {
    width: 360px;
margin: 30px 0 0 0;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.content__subscribe--title {
    text-transform: uppercase;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.content__subscribe--info {
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0 0 32px 0;
}

.subemailinpt {
    width: 256px;
    height: 49px;
    border: none;
    background-color: var(--cardbcgcolor);
    -webkit-border-top-left-radius: 60px;
    -webkit-border-bottom-left-radius: 60px;
    -moz-border-radius-topleft: 60px;
    -moz-border-radius-bottomleft: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.submitbtnfooter {
    border: none;
    width: 100px;
    -webkit-border-top-right-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius-topright: 60px;
    -moz-border-radius-bottomright: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: var(--dark-pink);
}

.submitbtnfooter__txt {
color: var(--white);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;

}

.content__form {
    display: flex;
}

.links {
    background-color: var(--dark-blue);
}

.links__right {
    margin: 30px 0 30px 0;
color: var(--white);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
}

.rights-icon {
    display: flex;
    justify-content: space-between;
}

.links__icon {
    display: flex;
    margin: 30px 0px 30px 0;
    justify-content: space-;
}

.links__icon-item {
    margin: 0 8px 0 0;
}
/* СТАЛИ ДЛЯ СТРАНИЦ РЕГИСТРАЦИИ (MAIN) */

.title--registr {
min-height: 148px;
background-color: var(--pink);
}

.title--registr_h1 {
    padding: 59px 0 60px 0;
    color: var(--dark-pink);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}


.registrationform--field {
    margin: 64px 0 96px 0;
    display: flex;
    justify-content: space-between;
}

.name__legend, .login--details__legend {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    padding: 0 0 21px 0;
}

.login--details__legend {
    padding-top: 34px;
}

.name__lastname {
    margin: 21px 0 32px 0;
}

.login--details__password {
    margin: 21px 0 16px 0;
}

.inptf {
    display: block;
    width: 360px;
    height: 45px;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

.label_male, .label_female {
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
}

.name__female {
    margin: 0 0 0 20px;
}

.name__male {
    background-color: var(--dark-pink);
}

.login--details__instruction {
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    margin: 0 0 39px 0;
    width: 359px;
}
.browseregistr {
    text-transform: uppercase;
    
}

.strelka {
    margin: 0 0 0 20px;
}

.annotation {
    margin: 0 0 0 128px;
}

.annotation__title {
    text-transform: uppercase;
    margin: 0 0 22px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
}

.annotation__info {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin: 16px 0 0 0;
}
.annotation__table--item {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin: 16px 0 0 0;
}

.annotation__table--item::before {
    content: "✔";
    margin: 0 23px 0 0;
}