.maincartfield {
    display: flex;
    justify-content: space-between;
    padding: 0 0 128px 0;
}

.cart {
    margin: 0 0 96px 0;
}

.cartitems {
    display: flex;
    flex-direction: column;

    &__cart {
        display: flex;
        min-height: 306px;
        margin: 0 0 40px 0;
        box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
    }

    &__info {
        padding: 0px 0 0 31px;
    }

    &__info--nameproduct {
        @include textstyle(24px, 29px);
        text-transform: uppercase;
        padding: 22px 97px 42px 0px;
        word-wrap: break-word;
        width: 262px;
    }
    &__info--h2 {
        display: flex;
    }
    &__info--close{
        padding: 26px 22px 0 0;
    }

    &__info--quantity {
        display: flex;
    }

    &__info--price, &__info--color, 
    &__info--size, 
    &__info--quantity-txt, &__info--quantity-cnt {
        @include textstyle(22px, 26px);
        padding: 0 24px 6px 0;
    }

    &__info--price--span {
        color: $dark-pink;
    }
    
    &__info--quantity-cnt {
        padding: 0 15px 0 15px;
        border: 1px solid rgba(234, 234, 234, 1)
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        padding: 73px 0 0 0;
    }

    &__btn-continue, &__btn--clear {
        background: transparent;
        border: 1px solid rgba(164, 164, 164, 1);
        @include textstyle(14px, 17px, 300);
        text-transform: uppercase;
    }

    &__btn--clear {
        width: 234px;
        height: 50px;

    }

    &__btn-continue {
        width: 224px;
        height: 49px;
    }
}

.shipping {
    &__legend{
        @include textstyle(16px, 19px, 300);
        text-transform: uppercase;
        margin: 0 0 21px 0;
    }   

    &__bangladesh, &__state, &__postcode {
        @include textstyle(16px, 19px, 300);
        margin: 0 0 21px 0;
        border: 1px solid rgba(164, 164, 164, 1)
    }

    &__button {
    @include textstyle(11px, 13px, 300);
    text-transform: uppercase;
    border: 1px solid rgba(164, 164, 164, 1);
    background: transparent;
    width: 100px;
    height: 34px;
    }
}

.bascket {
    margin: 58px 0 0 0;
    background: $basketcolor;

    &__subtotal {
        @include textstyle();
        padding: 39px 34px 0 0;
        text-align: end;
        text-transform: uppercase;
    }

    &__grandtotal {
        @include textstyle(16px, 19px, 700);
        text-align: end;
        text-transform: uppercase;
        padding: 12px 37px 21px 0;
    }
    &__grandtotal--span {
        color: $dark-pink;
    }
    &__button {
        width: 273px;
        margin: 17px 43px 42px 44px;
    }
}


