.privileges {
    background-color: $dark-blue;

    &__table {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    
    }
    
    &__item {
        width: 360px;
        margin: 103px 30px 104px 0;
        display: flex;
        flex-direction: column;
        align-items: center;   
        
        
        @include tablet {
            margin: 0 0 81px 0;   
        }

        @include mobile {
            margin: 0 0 48px 0; 
        }
    }

    &__item--1 {
        @include tablet {
            margin: 48px 0px 48px 0;   
        }

        @include mobile {
            margin: 48px 0px 48px 0; 
        }
    }

    &__item--3 {
        @include tablet {
            margin: 0 0px 64px 0;   
        }

        @include mobile {
            margin: 0 0px 81px 0; 
        }
    }
    
    &__title {
        margin: 26px 0 16px;
    color: $white;
    @include textstyle(20px, 24px, 400);
    }
    
    &__info {
    color: $white;
    text-align: center;
    @include textstyle(14px, 17px, 300);
    }
}


.footer--contacts {
    background-image: url(../img/fonefooter.jpg);
    background-repeat: round;
    background-size: cover;
}

.content{
    @include display-flex-space-between;
    padding: 97px 0 126px 0;

    @include tablet {
        flex-direction: column;
        align-items: center;
    }



    &__contface, &__subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__info {
        width: 360px;
    margin: 30px 0 0 0;
    @include textstyle(20px, 24px);
    
    &--cart {
        @include mobile {
            @include textstyle(19px, 22px); 
            padding: 0 0 59px 0;
            width: 96%;

        }
    }
    }
    
    &__subscribe--title {
        text-transform: uppercase;
        @include textstyle(24px, 40px, 700);
    }
    
    &__subscribe--info {
        text-transform: uppercase;
        @include textstyle(18px, 30px);
        padding: 0 0 32px 0;
    }
    
    &__form {
        display: flex;
    }
}

.content__form--cart {
    @include mobile {
        width: 91%;
    }
}



.subemailinpt {
    width: 256px;
    height: 49px;
    border: none;
    background-color: $cardbcgcolor;
    -webkit-border-top-left-radius: 60px;
    -webkit-border-bottom-left-radius: 60px;
    -moz-border-radius-topleft: 60px;
    -moz-border-radius-bottomleft: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.submitbtnfooter {
    border: none;
    width: 100px;
    -webkit-border-top-right-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius-topright: 60px;
    -moz-border-radius-bottomright: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: $dark-pink;

    &__txt {
        color: $white;
        @include textstyle(14px, 17px);
        text-align: center;
        }
}





.links {
    background-color: $dark-blue;

    &__right {
        margin: 30px 0 30px 0;
        color: $white;
        @include textstyle(16px, 19px);
        @include mobile {
            order: 1;
            -ms-flex-order: 1;
        }
    }
    
    &__icon {
        display: flex;
        margin: 30px 0px 30px 0;

        @include mobile {
            margin: 43px 0 48px 0;
        }
    }
    
    &__icon-item {
        margin: 0 8px 0 0;
    }
}



.rights{
    &-icon {
        display: flex;
        justify-content: space-between;

        @include mobile {
            order: 2;
            -ms-flex-order: 2;
            flex-direction: column;
            align-items: center;
            
        }
    }
}
