/* СТАЛИ ДЛЯ СТРАНИЦ РЕГИСТРАЦИИ (MAIN) */

.title--registr {
    min-height: 148px;
    background-color: $pink;

    &_h1 {
        padding: 59px 0 60px 0;
        color: $dark-pink;
        @include textstyle(24px, 29px);
        text-transform: uppercase;
    }
}
    
    
    
    
    .registrationform--field {
        margin: 64px 0 96px 0;
        display: flex;
        justify-content: space-between;
    }


    .name{
        &__legend {
            @include textstyle(16px, 19px, 300);
            padding: 0 0 21px 0;
        }
    
        &__lastname {
            margin: 21px 0 32px 0;
        }
        
        &__female {
            margin: 0 0 0 20px;
        }
        
        &__male {
            background-color: $dark-pink;
        }
    }

    .login--details {
    
        &__password {
            margin: 21px 0 16px 0;
        }

        &__legend {
            @include textstyle(16px, 19px, 300);
            padding: 34px 0 21px 0;
        }

        &__instruction {
            @include textstyle(13px, 16px, 300);
            margin: 0 0 39px 0;
            width: 359px;
        }
    
}
    
    .inptf {
        display: block;
        width: 360px;
        height: 45px;
        @include textstyle(13px, 16px, 300);
    }
    
    .label_male, .label_female {
        @include textstyle();
    }
    
    .browseregistr {
        text-transform: uppercase;
        
    }
    
    .strelka {
        margin: 0 0 0 20px;
    }
    
    .annotation {
        margin: 0 0 0 128px;

        &__title {
            text-transform: uppercase;
            margin: 0 0 22px 0;
            @include textstyle(24px, 29px, 300);
        }
        
        &__info {
            @include textstyle(24px, 29px, 300);
            margin: 16px 0 0 0;
        }
        &__table--item {
            @include textstyle(24px, 29px, 300);
            margin: 16px 0 0 0;
        }
        
        &__table--item::before {
            content: "✔";
            margin: 0 23px 0 0;
        }
    }

